<div class="notepad-container">
    <h1>My notebook</h1>

    <div class="actions">
        <button (click)="openAddTaskForm()">Add Task</button>
    </div>
    @if(showAddTaskForm){

        <h2>Añadir Nueva Tarea</h2>
        <form (ngSubmit)="addTask()">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" [(ngModel)]="newTask.title" required>
        </div>
        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" [(ngModel)]="newTask.description"></textarea>
        </div>
        <div>
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" [(ngModel)]="newTask.category">
        </div>
        <button type="submit">Guardar Tarea</button>
        <button type="button" (click)="closeAddTaskForm()">Cancelar</button>
        </form>
    }
    <app-todo-list></app-todo-list> 
</div>