<div class="todo-list">
    <button mat-button  class="task-button" (click)="openAddTaskForm()">Add Task</button>
    @if(showAddTaskForm){
        <app-todo-add (loadTodos)="loadTodos()" (closeAddTaskForm)="showAddTaskForm = false"></app-todo-add>
    }
</div>
    <h2>Task List</h2>
    @if (todos.length > 0) {
        <ul>
            @for (todo of todos; track todo.id) {
            <li class="todos">
                <span class="todos__title">Task: {{ todo.title }}</span>
                <div class="todos__title__info">
                    <span class="todos__title__info__description">Description: {{ todo.description }}</span>
                    <span class="todos__title__info__category">Category: {{ todo.category }}</span>
                    @for(progression of todo.progressions; track progression.date) {
                        <div class="progression">
                            <div class="progression percentage">
                                <span>Progression: {{ progression.percentage }}%</span>
                                <mat-progress-bar mode="determinate" value={{progression.percentage}}></mat-progress-bar>
                            </div>
                            <span class="progression__date"> on {{ progression.date | date }}</span>
                        </div>
                    }
                    @if (isNewProgressionDateInvalid(todo)) {
                        <span class="progression__completed" style="color: red; font-size: small;">The progression date must be greater than all existing ones.</span>
                    }
                    @if(todo.totalProgress === 100) {
                        <span class="progression__completed">Task Completed</span>
                    } @else {
                        <span class="progression__not-completed">Task Not Completed</span>
                    }
                </div>
                <div class="todos__buttons">
                    @if(todo.totalProgress < 50) {
                        <button (click)="deleteTodo(todo.id)">Delete</button>
                        <button (click)="convertTodoToEdit(todo)">Update</button>
                    } @else {
                        <button disabled (click)="deleteTodo(todo.id)">Delete</button>
                        <button disabled (click)="convertTodoToEdit(todo)">Update</button>
                    }
                    <button (click)="openAddProgressionForm(todo)">Add Progression</button>
                </div>

    
                @if (editingTodo && editingTodo.id === todo.id) {
                    <app-todo-edit [todo]="editingTodo" (loadTodos)="loadTodos()" (closeEditing)="editingTodo = null" ></app-todo-edit>
                }
    
                @if (addingProgressionFor && addingProgressionFor.id === todo.id) {
                    <app-todo-progression [todo]="addingProgressionFor" (loadTodos)="loadTodos()" (closeAddProgressionForm)="addingProgressionFor = null"></app-todo-progression>
                }
            </li>
            }
        </ul>
    } @else {
        <p>No pending tasks.</p>
    }
